body {
    background-color: rgb(255, 255, 255);
    font-family: 'Neue Haas Grotesk', sans-serif;  
  }
  
  h1 {
    color: rgb(0, 0, 0);
    padding-top: 140px;
    font-size: 40px;  
    padding-left: 260px;     
    padding-right: 400px;  
    padding-bottom: 1px;   
    text-align: left;  
    font-family: 'Neue Haas Grotesk', sans-serif;  
  }
  
  h2 {
    color: rgb(0, 0, 0);
    font-size: 15px;  
    padding-left: 260px;   
    text-align: left;  
    font-family: 'Neue Haas Grotesk', sans-serif;  
  }
  
  h3 {
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-size: 30px;  
    padding-left: 260px;     
    text-align: left;  
    font-family: 'Neue Haas Grotesk', sans-serif;  

  }
  
  h4 {
    flex: 1;
    color: rgb(0, 0, 0);
    padding-left: 260px;   
    font-size: 12px;   
    font-family: 'Neue Haas Grotesk', sans-serif;   
    text-wrap: balance;
    }

  p {
      flex: 1;
      color: rgb(0, 0, 0);
      padding-left: 260px;      
      padding-right: 170px;  
      font-size: 40px;   
      font-family: 'Neue Haas Grotesk', sans-serif;   
      text-wrap: balance;
      }
  
  
  .nav-container {
    display: flex;  
    justify-content: center;  
  }
  
  .nav-link {
    color: rgb(0, 0, 0);
    padding: 30px 179px;  
    text-decoration: none;  
    font-size: 12px;  
    font-weight: bold;
  }
  
  .image-container img {
    position: absolute; 
    top: 80px; 
    bottom: 2px; 
    left: 270px; 
    width: 680px; 
    height: auto; 
  }
  
  /* Used AI understand the keyframe function with spin*/
  /* Also used ai to understand the use of 'transform' better */
  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Found the transform-origin function using ai which helped me to rotate each traingle on its own axis */
.triangle {
    animation: spin 6s linear infinite;
}

.triangle:nth-of-type(1) {
    transform-origin: 400px 120px; /
}

.triangle:nth-of-type(2) {
    transform-origin: 500px 120px; 
}

.triangle:nth-of-type(3) {
    transform-origin: 600px 120px; /
}
